# Blacklist everything
*

# Whitelist each and every directory
!*/

# Whitelist all files with the following extensions
!*.cpp
!*.hs
!*.py
!*.txt

# Whitelist .gitignore and README.md files
!*.gitignore
!*.md